@CHARSET "ISO-8859-1";

.ui-widget, .ui-widget .ui-widget {
font-size: 90% !important;
}

.ui-inputfield.ui-corner-all{
	border-top-left-radius: 0px !important;
    border-top-right-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
}

.titlebar {
	background-color: #CC0000;
	margin-bottom: 10px;
	padding-bottom: 8px;
	padding-top: 8px;
}

.titlebarItem {
	/* font-family: 'Poiret One', cursive; */
	font-size: 1em !important;
	color: white !important;
	padding-left: 3px;
}

.titlebarItem #logout{
	float: right;
}

.headerLogo{
	display: block;
	width: 200px;
	margin-left: auto;
	margin-right: auto;
}

.ui-growl {
    position:absolute;
    padding-top: 200px;
    left: 40%;
    z-index:9999;
}

.adminbar{
	padding-top: 5px;
	padding-bottom: 5px;
}

#logout{
	float: right;
}

#login_panel, #signup_panel, #change_user_panel{
	margin-left: auto;
	margin-right: auto;
}

nav{
	float: left;
	padding-right: 10px;
}

.ui-tieredmenu{
	border-color: #CC0000 !important;
	border-width: 2px !important;
}

#main{
	width: 89%;
	float: right;
}