@CHARSET "ISO-8859-1";

.ui-widget, .ui-widget .ui-widget {
font-size: 90% !important;
}

.titlebar {
	background-color: red;
}

.titlebarItem {
	font-family: 'Poiret One', cursive;
	font-size: 1.5em;
	color: white;
	margin-left: 3px;
}

.headerLogo{
	display: block;
	width: 200px;
	margin-left: auto;
	margin-right: auto;
}
